
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: None
BreakConstructorInitializers: BeforeColon
SortIncludes: true
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
